In [19]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

# Read the data

In [20]:
df = spark.read.option("header","false").option("inferSchema","true").csv("../../data/fakefriends.csv")
df.show()

+---+--------+---+---+
|_c0|     _c1|_c2|_c3|
+---+--------+---+---+
|  0|    Will| 33|385|
|  1|Jean-Luc| 26|  2|
|  2|    Hugh| 55|221|
|  3|  Deanna| 40|465|
|  4|   Quark| 68| 21|
|  5|  Weyoun| 59|318|
|  6|  Gowron| 37|220|
|  7|    Will| 54|307|
|  8|  Jadzia| 38|380|
|  9|    Hugh| 27|181|
| 10|     Odo| 53|191|
| 11|     Ben| 57|372|
| 12|   Keiko| 54|253|
| 13|Jean-Luc| 56|444|
| 14|    Hugh| 43| 49|
| 15|     Rom| 36| 49|
| 16|  Weyoun| 22|323|
| 17|     Odo| 35| 13|
| 18|Jean-Luc| 45|455|
| 19|  Geordi| 60|246|
+---+--------+---+---+
only showing top 20 rows

# Remove people above 21

In [21]:
dfFiltered = df.filter(df._c2 < 21)
dfFiltered.show()

+---+-------+---+---+
|_c0|    _c1|_c2|_c3|
+---+-------+---+---+
| 21|  Miles| 19|268|
| 48|    Nog| 20|  1|
| 52|Beverly| 19|269|
| 54|  Brunt| 19|  5|
| 60| Geordi| 20|100|
| 73|  Brunt| 20|384|
|106|Beverly| 18|499|
|115|  Dukat| 18|397|
|133|  Quark| 19|265|
|136|   Will| 19|335|
|225|   Elim| 19|106|
|304|   Will| 19|404|
|327| Julian| 20| 63|
|341|   Data| 18|326|
|349| Kasidy| 20|277|
|366|  Keiko| 19|119|
|373|  Quark| 19|272|
|377|Beverly| 18|418|
|404| Kasidy| 18| 24|
|409|    Nog| 19|267|
+---+-------+---+---+
only showing top 20 rows

# Group by age and count

In [22]:
dfGroupped = dfFiltered.groupBy("_c2").count()
dfGroupped.show()

+---+-----+
|_c2|count|
+---+-----+
| 20|    5|
| 19|   11|
| 18|    8|
+---+-----+

In [23]:
spark.stop()